.fade {
  opacity: 0;

  &.fade--entering {
    opacity: 0;
  }

  &.fade--entered {
    opacity: 1;
  }
}

.moveX {
  &.moveX--entering {
    transform: translateX(0);
  }

  &.moveX--entered {
    transform: translateX(100px);
  }
}

.moveY {
  transform: translateY(-100px);

  &.moveY--entering {
    transform: translateY(-100px);
  }

  &.moveY--entered {
    transform: translateY(0);
  }
}
